# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Editor / IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Local configuration files (if any)
*.env

# Large files you don’t want tracked
ann_model1.h5
Miniforge3-MacOSX-arm64.sh
Miniforge3.sh
